# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/

# Environnement virtuel
venv/
.env/
.env.local

# Django
db.sqlite3
staticfiles/
media/
*.mo

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Secrets
*.env
